<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %><%= config.author || config.title %><br>
      <% if (theme.beian !== ''){ %>
        <a target="_blank" href="https://beian.miit.gov.cn/"><%= theme.beian %></a><br>
      <% } %>

      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>